@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;700&display=swap');

*{
  font-family: 'Be Vietnam Pro', sans-serif;
}

.setting-container{
  width: 85%;
  max-width: 960px;
  margin: 0 auto;
}

.setting-img{
  height: 40px;
  width: 100px;
}
